<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 定义别名 -->
    <typeAliases>
        <!--
        <typeAlias alias="role" type="com.vilin.mybatis.chapter02.po.Role"/>
        -->
        <typeAlias alias="sex" type="com.vilin.mybatis.chapter03.util.Sex"/>
        <package name="com.vilin.mybatis.chapter03.po"/>
        <package name="com.vilin.mybatis.chapter04.po"/>
    </typeAliases>
    
    <typeHandlers>
        <package name="com.vilin.mybatis.chapter03.typehandler"/>
    </typeHandlers>
    <!-- 定义数据库-->
    <environments default="development">
        <environment id="development">
            <!-- 采用JDBC事务管理-->
            <transactionManager type="JDBC">
                <property name="autoCommit" value="false"/>
            </transactionManager>
            <!-- 配置数据库连接信息-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_test?serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="Lw@1985105"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/vilin/mybatis/chapter03/mapper/RoleMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter03/mapper/UserMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/StudentMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/StudentSelfcardMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/LectureMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/StudentLectureMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/StudentHealthMaleMapper.xml"/>
        <mapper resource="com/vilin/mybatis/chapter04/mapper/StudentHealthFemaleMapper.xml"/>
    </mappers>
</configuration>